<ion-view view-title="Login">
    <ion-content class="padding">

        <label class="item item-input">
            <!--<span class="input-label">First Name</span>-->
            <input type="text" ng-model="FirstName" placeholder="First Name">
        </label>

        <label class="item item-input">
            <!--<span class="input-label">Last Name</span>-->
            <input type="text" ng-model="LastName" placeholder="Last Name">
        </label>

        <label class="item item-input">
            <!--<span class="input-label">Email</span>-->
            <input type="email" ng-model="Email" placeholder="Email">
        </label>

        <label class="item item-input">
            <!--<span class="input-label">Username</span>-->
            <input type="text" ng-model="UserName" placeholder="Username">
        </label>       

        <label class="item item-input">
            <!--<span class="input-label">Password</span>-->
            <input type="password" ng-model="pass" placeholder="Password">
        </label>

        <label class="item item-input">
            <!--<span class="input-label">Password</span>-->
            <input type="password" ng-model="ConfirmPass" placeholder="Confirm Password">
        </label>

        <button class="button button-block button-positive" ng-click="RegisterUser()">Submit</button>

    </ion-content>
</ion-view>
